body {
    font-family: roboto;
}

.avtor-tour-img {
    height: 55px;
    width: 55px;
    border-radius: 30px;
}

.author-name {
    color: #ffbf00;
    padding-top: 5px;
}

.arrow-bottom {
    position: absolute;
    z-index: 999;
    height: 30px;
    left: 5px;
    margin-top: 30px;
}

.star-place {
    text-align: right;
    padding-right: 5px;
    height: 60px;
}

.fonts-div {
    font-size: 4vw;
}

.user-name {
    font-weight: bold;
}

.for-rewiev-description {
    padding-left: 10px;
    text-align: justify;
    position: relative;
}

.rewiev-main-div {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.house-div {
    margin-right: 10px;
}

.ianachkebia-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.fisr-box {
    position: relative;
}

.sights {
    color: white;
}

.box-first {
    position: relative;
}

.house-icon {
    height: 30px;
    background: #f5deb30d;
}

.box-two {
    margin-right: 3%;
    margin-left: 3%;
}

.home-calendar-div {
    display: flex;
    text-align: center;
    position: absolute;
    z-index: 99;
    bottom: 10px;
    right: 10px;
}

.three-dots-bottom {
    position: absolute;
    z-index: 999;
    height: 50px;
    right: 0;
    margin-top: 30px;
}

.member {
    width: 30px;
}

.xxx {
    height: 10px;
}

.hide1 {
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.hide {
    display: none;
}

a {
    color: black;
    text-decoration: none;
}

#more {
    display: none;
}

.rewiev-profile {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-top: 10px;
}

.rating {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
}

.rating>label {
    color: #90A0A3;
    float: left;
}

.for-star-size {
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    margin-right: 10px;
}

.vacant-place-child-div {
    position: relative;
}

.modena-bottom-title {
    font-size: 17px;
    margin-top: 8px;
}

.total-usd {
    font-size: 20px;
}

.next-button-div {
    border: 2px #F79426 solid;
    border-radius: 10px;
}

.next-button-main {
    font-size: 20px;
    padding: 10px 30px;
}

.total-div {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-right: 5%;
    padding-left: 5%;
    margin-bottom: 80px;
    align-items: center;
}

.person-number {
    font-weight: bold;
    font-size: 20px;
}

.persons-in-tour {
    padding-left: 5%;
    margin-top: 20px;
}

.correct-icon-main {
    position: absolute;
    top: 35px;
    left: 9%;
}

.rating>label:before {
    margin: 2px;
    font-size: 1em;
    font-family: FontAwesome;
    content: "\f005";
    display: inline-block;
}

.rating>input {
    display: none;
}

.rating>input:checked~label,
.rating:not(:checked)>label:hover,
.rating:not(:checked)>label:hover~label {
    color: #F79426;
}

.rating>input:checked+label:hover,
.rating>input:checked~label:hover,
.rating>label:hover~input:checked~label,
.rating>input:checked~label:hover~label {
    color: #FECE31;
}

.author-full-name {
    padding-top: 5px;
}

.tour-name {
    text-align: center;
    margin-top: 10px;
}

.tour-manager-name {
    display: flex;
}

.per-person {
    display: flex;
    align-items: center;
}

.tour-description-main-div {
    margin-top: 20px;
}

.tour-description-main-text {
    padding: 10px;
    text-align: justify;
    line-height: 1.4em;
}

.price-div {
    text-align: center;
    padding-left: 5px;
}

.price-range {
    color: green;
}

.author-div {
    font-size: 18px;
    margin-left: 3px;
}

.price-now-div {
    display: flex;
    font-size: 16px;
}

.tour-name-title {
    font-size: 25px;
}

.stars {
    text-align: center;
}

.rewievs {
    text-align: center;
}

.tour-description {
    border: black;
}

.divv {
    border: black 20px;
}

.for-tour-description {
    margin-top: 30px;
}

.ppp {
    border-style: dotted solid;
}

#info-block section {
    border: 1px solid black;
    border-radius: 20px;
}

.file-marker>div {
    padding: 0 5px;
    margin-top: -0.7em;
}

.box-title {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
    margin-left: 1em;
}

.box-title-2 {
    background: white none repeat scroll 0 0;
    display: inline-block;
    margin-left: 65%;
    position: absolute;
}

.tour-description-text {
    padding-left: 7px;
    padding-right: 7px;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 8px;
}

.tour-description-text-zero {
    padding-left: 4px;
    padding-right: 4px;
    text-align: justify;
    padding-top: 5px;
    padding-bottom: 10px;
}

.detailed-info {
    display: flex;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.dropdown-icon {
    height: 15px;
    margin-right: 5px;
}

.detailed-p {
    border-bottom: 1px solid black;
}

.availability {
    padding: 15px;
    border: 2px solid #ffbf00;
    width: 245px;
    border-radius: 15px;
    color: #ffbf00;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}

#info-block-zero section {
    border: 1px solid black;
    border-radius: 20px;
}

.file-marker-zero>div {
    padding: 0px 5px;
    margin-top: -0.7em;
    padding-bottom: 14px;
}

.box-title-zero {
    background: white none repeat scroll 0 0;
    display: inline-block;
    padding: 0 2px;
    margin-left: 1em;
}

.carousel .carousel-item {
    width: 100%;
    height: 200px;
    background-size: cover;
    background-position: center;
}

.carousel .carousel-item:first-of-type {
    background-image: url(../img/italia6.jpg);
}

.carousel .carousel-item:nth-of-type(2) {
    background-image: url(../img/italia7.jpg);
}

.carousel .carousel-item:nth-of-type(3) {
    background-image: url(../img/italia8.jpg);
}

.carousel .carousel-item:last-of-type {
    background-image: url(../img/italia4.jpg);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 50px;
    height: 50px;
}

.carousel-indicators {
    bottom: 10px;
}

.carousel-indicators li {
    border-top: 0px solid transparent;
    border-bottom: 2px solid transparent;
}

li {
    width: 4px!important;
    border-radius: 50%!important;
    background: white!important;
}

.review-comment {
    color: grey;
    margin-top: 10px;
    line-height: 1.4em;
}

.for-color {
    color: grey;
    font-weight: bold;
    white-space: nowrap;
    font-style: italic;
}

.for-rewiev-date {
    color: grey;
    margin-top: 10px;
    font-size: 14px;
}

.like-button {
    display: none;
}

.like-icon {
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
}

.str0 {
    stroke: black;
}

.availa-div {
    display: flex;
    justify-content: center;
}

.fil0 {
    fill: #ffffff;
}

.like-button:checked+svg .fil0 {
    fill: red;
    stroke: red;
}

.heartnumbers {
    text-align: center;
    position: absolute;
    right: 5%;
    margin-top: 5px;
}


/* index2.html //////////////////////////////////// */

.head-background {
    background-image: url(../img/italia5.jpg);
    height: 200px;
    width: 100%;
    background-size: cover;
    background-position: center;
    position: relative;
}

.tour-star-rewiev {
    position: absolute;
    bottom: 0;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.main-calendar-date {
    display: flex;
    justify-content: space-around;
}

.calendar-date-box {
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
    height: 65px;
    width: 60px;
}

.calendar-date-icon {
    width: 33px;
    padding-top: 5px;
}

.calendar-date-dropdown {
    height: 25px;
}

.ordered-place {
    height: 50px;
    border-radius: 30px;
    width: 50px;
}

.correct-icon {
    height: 25px;
}

.star-main-div {
    display: flex;
    align-items: center;
}

.paddings {
    padding-left: 26px;
    padding-right: 26px;
}

.vacant-places {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 4%;
    padding-right: 4%;
    margin-top: 15px;
}

.price-now-div-index2 {
    display: flex;
    font-size: 16px;
    color: white;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.select-date-div {
    display: flex;
    justify-content: space-between;
    padding-right: 3%;
    padding-left: 3%;
    padding-top: 2%;
}

.select-date-text {
    padding-top: 5%;
    padding-bottom: 5%;
}

.time-box {
    text-align: center;
    margin-top: 20px;
    color: gray;
}

.time-left {
    font-size: 20px;
}

.time-now {
    font-size: 70px;
}

.calendar-day {
    padding-top: 10px;
    padding-bottom: 10px;
}

.calendar-day-number {
    padding-bottom: 10px;
    color: #F79426;
}

.plus-minus {
    height: 35px;
}

.man-place {
    padding-left: 15px;
    padding-right: 15px;
    font-size: 20px;
}

.adults {
    margin-top: 20px;
    border: 1px solid black;
    margin-right: 5%;
    margin-left: 5%;
    border-radius: 18px;
    padding-top: 5%;
    padding-bottom: 5%;
}

.adult-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 5%;
    padding-left: 5%;
}

.plus-minus-div {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.adults-p {
    font-size: 20px;
}

.yellow {
    color: #F79426;
}

.calendar-date-box:hover {
    border: 1px #F79426 solid;
    color: #F79426;
}


/* .first-calendar-icon {
    border: 2px solid black;
    border-radius: 15px;
    width: 70px;
    text-align: center;
    padding: 5px;
} */


/* index2.html //////////////////////////////////// */

*/ @media only screen and (max-width: 300px) {
    .box-title-2 {
        margin-left: 50%;
    }
}

@media only screen and (max-width: 250px) {
    .box-title-2 {
        margin-left: 38%;
    }
}